<!DOCTYPE html>
<html layout:decorate="/admin/admin::html">
<head>

<title>后台管理员管理中心</title>
 <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="/css/admin.css">
<link rel="stylesheet" href="/css/bootstrap.min.css">

<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

</head>

<body>
	

	
	<div class="right-content" layout:fragment="content">
			<table class="table table-hover table-striped">
				<thead>
					<tr>
						<th>check</th>
						<th>userName</th>
					
						<th>statue</th>
						<th>rePassword</th>
						
					</tr>
				</thead>
				<tbody>
					<tr class="td-a" th:each="admin:${admins}">
						<td><input type="checkbox" name="userName"
							th:text="${admin.adminID}"></td>
						<td class="backUserNAme">[[${admin.adminName}]]</td>
						
						<td><button class="status btn  btn-sm  btn-warning" >[[${admin.status?'已启用':'已禁用'}]]</button></td>
						<td><button class="repassword btn btn-sm btn-danger" data-toggle="modal" data-target="#myModal">重置密码</button></td>
						
					</tr>
				
				</tbody>
				<button class="btn btn-success add"  data-toggle="modal" data-target="#addModal">Add新用户 </button>
			</table>

<!-- 模态框 --用于修改密码-->
<div class="modal fade" id="myModal" style="z-index:10000">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
 
      <!-- 模态框头部 -->
      <div class="modal-header">
        <h4 class="modal-title">请输入新密码</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
 
      <!-- 模态框主体 -->
      
      <div class="modal-body">
       	<input type="text" class="newpassword form-control">
      </div>
 
      <!-- 模态框底部 -->
      <div class="modal-footer">
      	<button  type="button" class="btn btn-success commit" data-dismiss="modal">提交</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
      </div>
 
    </div>
  </div>
</div>
<!--./模态-->


<!-- 模态框 --用于添加新用户-->
<div class="modal fade" id="addModal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
 
      <!-- 模态框头部 -->
      <div class="modal-header">
        <h4 class="modal-title">添加新用户</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
 
      <!-- 模态框主体 -->
      
      <div class="modal-body">
     	 用户名：<input type="text" class="userName  form-control"><br>
      	 密码：<input type="text" class="password form-control">
      </div>
 
      <!-- 模态框底部 -->
      <div class="modal-footer">
      	<button  type="button" class="btn btn-success commitadd" data-dismiss="modal">提交</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
      </div>
 
    </div>
  </div>
</div>
<!--./模态-->



	<script>
		$(function() {
			$(".status").click(function() {
				console.log("dsefsfse");
				var f = $(this).text();
				var fs = "0";
				var user = $(this).parent().siblings(".backUserNAme").text();
				
				
				//console.log(user); 
				if (f == "已禁用") {
					fs = "1";
				}
				;
				var res = $(this);
				$.ajax({
					type : "post",
					url : "adminmanage",
					data : {
						"func": "change",
						"userName" : user,
						
					},
					datatype : "json",
					success : function(data) {
						if (data == "1" && fs == "1") {
							//res.removeClass("btn-secondary");
							//res.addClass("btn-success");
							res.text("已启用");
							console.log("1");
							return ;
						}

						if (data == "1" && fs == "0") {
							//res.removeClass("btn-success");
							//res.addClass("btn-secondary");
							res.text("已禁用");
							console.log("0");
							return ;
						}

					}

				});
			});
			
			
			$(".repassword").click(function(){
				var user = $(this).parent().siblings(".backUserNAme").text();
				var newpassword;
				$(".commit").unbind('click').click(function(){
					newpassword=$(".newpassword").val();
					console.log(newpassword)
					$.ajax({
					type : "post",
					url : "adminmanage",
					data : {
						"func": "repwd",
						"userName" : user,
						"newpassword" : newpassword
					},
					datatype : "json",
					success : function(data) {
						if (data == "1" ) {
							alert("修改成功")
							return ;
						}
						if (data == "0" ) {
							alert("修改失败！")
							return ;
						}

					}

				});
				});
				
			});
			
			$(".add").click(function(){
				var userName;
				var password;
				$(".commitadd").unbind('click').click(function(){
					userName = $(".userName").val();
					password = $(".password").val();
					$.ajax({
						type : "post",
						url : "adminmanage",
						data : {
							"func": "add",
							"userName" : userName,
							"newpassword" : password
						},
						datatype : "json",
						success : function(data) {
							if (data == "1" ) {
								location.reload();
							}
							if (data == "0" ) {
								alert("添加失败！")
								return ;
							}

						}

					});
				});
			})
		});
	</script>
	
		</div>
	



</body>
</html>
