<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

	 <title>注册</title>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/register.css">
    
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    
</head>
<body>
<div class="wrapper">
    <form class="form-signin" action="register" id="form2" method="post" style="TEXT-ALIGN: center;">  
       
      <h2 class="form-signin-heading">Register</h2> 
       <span th:text="${errUserName}" style="color:red"></span>
       <input type="text"  id="name1" class="form-control" name="name" placeholder="昵称" required="" autofocus=""  th:field="${user.name}" />
      <input type="text"  id="user1" class="form-control" name="userName" placeholder="账号 " required="" autofocus="" th:field="${user.userName}" />
      <span  style="color:red" th:errors="${user.userName}"></span>  
      
      <input type="password" id="pw1" class="form-control" name="password" placeholder="Password   8~32位" required="" autofocus="" th:field="${user.password}"/> 
       <span style="color:red" id="error"></span> 
      <input type="password" id="pw2" class="form-control" placeholder="RePassword" required=""/> 
      <span style="color:red" th:errors="${user.password}"></span> 
          
 	 	  性别：<input type="radio" value="男" name="sex" Checked >男 	
      <input type="radio" value="女" name="sex" >女 
      <button class="btn btn-lg btn-primary btn-block" type="submit">注册</button>   
      <a href="index">直接访问</a>
      <a href="login">登录</a>
      <a href="admin">管理员</a>
    </form>
  </div>
    <script>
   
        $(function () {
            $("#form2").submit(function(){
                 if($("#pw1").val().length<8||$("#pw1").val().length>32){
                    $("#error").text("密码应在8~32位");
                    return false;
                }
                else if($("#pw1").val()!=$("#pw2").val()){
                    $("#error").text("两次密码应该一致！");
                    return false;
                }
                else return true;
            });
          });
   
    </script>
</body>
</html>