<!DOCTYPE html>
<head>
	
	    <title>主页</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/header.css">
	<link rel="stylesheet" href="/css/footer.css">
    
</head>
<body>
   	<div th:replace="/common/header::header">
   	</div>
    <div id="content" class="container">
    
           
          <!--  
            <div class="card" style="margin-top:1%;" th:each="a:${articles}">
            	<div class="card-body">
     				<a href="getarticlebyid?ID=${article.article_id }">
     				 <h4 class="card-title" th:text="${article.articleHeadline }"></h4>
     				</a>
     				 <p class="card-text " th:text="${fn:substring(article.content,0,66)}">......</p>
     				 
      				 <a href="getuserbyid?ID=${article.userName }" class="card-link" th:text="${article.fullName }">BY· </a> ???
      				 <a href="getarticlebytitle?typeID=${article.type_id }&userName=${article.userName}" class="card-link"># ${article.type_name }</a>
    			</div>
            </div>
             -->
  
    </div>

	<div th:replace="/common/footer::footer">
   	</div>

</body>

 	<script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

<script>

	
</script>

</html>
